
#stacks_in_36 {
	margin: 0px 0px 15px 0px;
}
#stacks_in_26>.s3_row {
	margin: 0 -10px;
}

#stacks_in_26>.s3_row>.s3_column_left {
	width: 33.33%;
}

#stacks_in_26>.s3_row>.s3_column_center {
	width: 33.339996%;
}

#stacks_in_26>.s3_row>.s3_column_right {
	width: 33.33%;
}

#stacks_in_26>.s3_row>.s3_column {
	padding: 0 10px;
}








@media only screen and (max-width: 770px) {


	#stacks_in_26>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_26>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}



@media only screen and (max-width: 400px) {


	#stacks_in_26>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_26>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}




#stacks_in_38 {
	margin: 15px 0px 0px 0px;
}
